<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <!-- 数据库驱动-->
<!--    <classPathEntry  location="C:\Users\Administrator\.m2\repository\org\postgresql\postgresql\42.2.8\postgresql-42.2.5.jar"/>-->
    <context id="DB2Tables"  targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--数据库链接URL，用户名、密码 -->
<!--        <jdbcConnection driverClass="org.postgresql.Driver" connectionURL="jdbc:postgresql://139.155.33.105:2432/yldsj" userId="postgres" password="123456">-->
        <jdbcConnection driverClass="org.postgresql.Driver" connectionURL="jdbc:postgresql://10.250.0.120/yldsj" userId="postgres" password="1234">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!-- 生成模型的包名和位置-->
        <javaModelGenerator targetPackage="com.ydl.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- 生成映射文件的包名和位置-->
        <sqlMapGenerator targetPackage="com.ydl.mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!-- 生成DAO的包名和位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.ydl.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!-- 要生成的表 tableName是数据库中的表名或视图名 domainObjectName是实体类名-->
        <table tableName="sheet" domainObjectName="Sheet" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
<!--            <property name="runtimeSchema" value="人口数据"/>-->
<!--            <property name="runtimeTableName" value="人口数据.sheet1"/>-->
            <!-- 新增后返回主键的ID -->
            <generatedKey column="id" sqlStatement="JDBC" identity="true"/>

        </table>
<!--        <table tableName="user_rol" domainObjectName="User_rol" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">-->
<!--            &lt;!&ndash; 新增后返回主键的ID &ndash;&gt;-->
<!--            <generatedKey column="id" sqlStatement="JDBC" identity="true"/>-->
<!--        </table>-->

    </context>
</generatorConfiguration>
